# **Stock Investment Recommendation Model**

## **Business Overview for Stock Investment Recommendation Model**

---

**Project Title:** Stock Investment Recommendation System

**Overview:**  
This project aims to create a machine learning model that delivers personalized stock investment recommendations based on individual risk appetites. By analyzing historical data from Yahoo Finance, the system will suggest suitable investments across various sectors, empowering investors with data-driven insights to enhance their decision-making and improve investment outcomes.

In [33]:
#  importing libraries
import pandas as pd
import numpy as np

In [34]:
import yfinance as yf
import pandas as pd  # Ensure pandas is imported

# List of stock symbols for 30 companies across different sectors
stock_symbols = [
    "AAPL", "XOM", "JPM", "PG", "JNJ", "NEE", "MSFT", "AMZN", "TSLA", "GOOGL",
    "NVDA", "V", "MA", "DIS", "NFLX", "INTC", "CSCO", "PFE", "KO", "PEP",
    "T", "VZ", "CMCSA", "ADBE", "IBM", "NKE", "CRM", "LLY", "ABT", "MDT"
]

# Define the time period for historical data
start_date = "2022-01-01"
end_date = "2024-01-01"

# Create an empty list to store each DataFrame
data_frames = []

# Download historical stock data for each company and append to the list
for symbol in stock_symbols:
    stock_data = yf.download(symbol, start=start_date, end=end_date)
    stock_data.reset_index(inplace=True)  # Reset index to make 'Date' a column
    stock_data['Symbol'] = symbol  # Add a 'Symbol' column for identification
    data_frames.append(stock_data)  # Add each DataFrame to the list

# Concatenate all DataFrames along rows (axis=0)
all_stocks_data = pd.concat(data_frames, axis=0, ignore_index=True)

# Check if the DataFrame is structured correctly
print("Combined DataFrame columns:", all_stocks_data.columns)
print("Combined DataFrame sample:\n", all_stocks_data.head())

# Now pivot the DataFrame to have price types as columns
# Make sure to drop any NaN values before pivoting if necessary
pivot_stocks_data = all_stocks_data.pivot_table(
    index=['Date', 'Symbol'], 
    values=['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], 
    aggfunc='first'  # Use 'first' to handle potential duplicates
).reset_index()

# Display the first few rows of the pivoted DataFrame
print("Pivoted DataFrame sample:\n", pivot_stocks_data.head())

# Save the DataFrame to a CSV file
csv_file_path = "stocks_data.csv"  
pivot_stocks_data.to_csv(csv_file_path, index=False)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Combined DataFrame columns: MultiIndex([(     'Date',     ''),
            ('Adj Close', 'AAPL'),
            (    'Close', 'AAPL'),
            (     'High', 'AAPL'),
            (      'Low', 'AAPL'),
            (     'Open', 'AAPL'),
            (   'Volume', 'AAPL'),
            (   'Symbol',     ''),
            ('Adj Close',  'XOM'),
            (    'Close',  'XOM'),
            ...
            (     'High',  'ABT'),
            (      'Low',  'ABT'),
            (     'Open',  'ABT'),
            (   'Volume',  'ABT'),
            ('Adj Close',  'MDT'),
            (    'Close',  'MDT'),
            (     'High',  'MDT'),
            (      'Low',  'MDT'),
            (     'Open',  'MDT'),
            (   'Volume',  'MDT')],
           names=['Price', 'Ticker'], length=182)
Combined DataFrame sample:
 Price                       Date   Adj Close       Close        High  \
Ticker                                  AAPL        AAPL        AAPL
0      2022-01-03 00:00:00+00:00  179.273605  182.009995  182.880005
1      2022-01-04 00:00:00+00:00  176.998337  179.699997  182.940002
2      2022-01-05 00:00:00+00:00  172.290207  174.919998  180.169998
3      2022-01-06 00:00:00+00:00  169.414108  172.000000  175.300003
4      2022-01-07 00:00:00+00:00  169.581558  172.169998  174.139999

Price          Low        Open       Volume Symbol Adj Close Close  ... High  \
Ticker        AAPL        AAPL         AAPL              XOM   XOM  ...  ABT
0       177.710007  177.830002  104487900.0   AAPL       NaN   NaN  ...  NaN
1       179.119995  182.630005   99310400.0   AAPL       NaN   NaN  ...  NaN
2       174.639999  179.610001   94537600.0   AAPL       NaN   NaN  ...  NaN
3       171.639999  172.699997   96904000.0   AAPL       NaN   NaN  ...  NaN
4       171.029999  172.889999   86709100.0   AAPL       NaN   NaN  ...  NaN

Price  Low Open Volume Adj Close Close High Low Open Volume
Ticker ABT  ABT    ABT       MDT   MDT  MDT MDT  MDT    MDT
0      NaN  NaN    NaN       NaN   NaN  NaN NaN  NaN    NaN
1      NaN  NaN    NaN       NaN   NaN  NaN NaN  NaN    NaN
2      NaN  NaN    NaN       NaN   NaN  NaN NaN  NaN    NaN
3      NaN  NaN    NaN       NaN   NaN  NaN NaN  NaN    NaN
4      NaN  NaN    NaN       NaN   NaN  NaN NaN  NaN    NaN

[5 rows x 182 columns]

C:\Users\Miry\AppData\Local\Temp\ipykernel_13308\305068225.py:34: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  pivot_stocks_data = all_stocks_data.pivot_table(

Pivoted DataFrame sample:
 Price                       Date Symbol   Adj Close                          \
Ticker                                         AAPL         ABT        ADBE
0      2022-01-03 00:00:00+00:00   AAPL  179.273605         NaN         NaN
1      2022-01-03 00:00:00+00:00    ABT         NaN  131.440369         NaN
2      2022-01-03 00:00:00+00:00   ADBE         NaN         NaN  564.369995
3      2022-01-03 00:00:00+00:00   AMZN         NaN         NaN         NaN
4      2022-01-03 00:00:00+00:00  CMCSA         NaN         NaN         NaN

Price                                       ... Volume                       \
Ticker        AMZN      CMCSA CRM CSCO DIS  ...    NKE NVDA PEP PFE  PG   T
0              NaN        NaN NaN  NaN NaN  ...    NaN  NaN NaN NaN NaN NaN
1              NaN        NaN NaN  NaN NaN  ...    NaN  NaN NaN NaN NaN NaN
2              NaN        NaN NaN  NaN NaN  ...    NaN  NaN NaN NaN NaN NaN
3       170.404495        NaN NaN  NaN NaN  ...    NaN  NaN NaN NaN NaN NaN
4              NaN  46.618755 NaN  NaN NaN  ...    NaN  NaN NaN NaN NaN NaN

Price
Ticker TSLA   V  VZ XOM
0       NaN NaN NaN NaN
1       NaN NaN NaN NaN
2       NaN NaN NaN NaN
3       NaN NaN NaN NaN
4       NaN NaN NaN NaN

[5 rows x 182 columns]

In [35]:
df=pd.read_csv('stocks_data.csv')
df.head(15)

C:\Users\Miry\AppData\Local\Temp\ipykernel_13308\537850898.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('stocks_data.csv')

,Date,Symbol,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Adj Close.4,Adj Close.5,Adj Close.6,Adj Close.7,...,Volume.20,Volume.21,Volume.22,Volume.23,Volume.24,Volume.25,Volume.26,Volume.27,Volume.28,Volume.29
0,NaN,NaN,AAPL,ABT,ADBE,AMZN,CMCSA,CRM,CSCO,DIS,...,NKE,NVDA,PEP,PFE,PG,T,TSLA,V,VZ,XOM
1,2022-01-03 00:00:00+00:00,AAPL,179.2736053466797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-01-03 00:00:00+00:00,ABT,NaN,131.44036865234375,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-03 00:00:00+00:00,ADBE,NaN,NaN,564.3699951171875,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-01-03 00:00:00+00:00,AMZN,NaN,NaN,NaN,170.4044952392578,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2022-01-03 00:00:00+00:00,CMCSA,NaN,NaN,NaN,NaN,46.61875534057617,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2022-01-03 00:00:00+00:00,CRM,NaN,NaN,NaN,NaN,NaN,254.3309326171875,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2022-01-03 00:00:00+00:00,CSCO,NaN,NaN,NaN,NaN,NaN,NaN,57.543479919433594,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2022-01-03 00:00:00+00:00,DIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155.533203125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2022-01-03 00:00:00+00:00,GOOGL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2022-01-03 00:00:00+00:00,IBM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2022-01-03 00:00:00+00:00,INTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2022-01-03 00:00:00+00:00,JNJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2022-01-03 00:00:00+00:00,JPM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2022-01-03 00:00:00+00:00,KO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Step 1: Melt the DataFrame to long format
melted_df = pd.melt(df, id_vars=['Date', 'Symbol'], 
                    value_vars=[col for col in df.columns if col not in ['Date', 'Symbol']],
                    var_name='Variable', value_name='Value')

# Step 2: Extract stock type and suffix
melted_df[['Type', 'Stock']] = melted_df['Variable'].str.split('.', expand=True)

# Step 3: Pivot to get the desired structure
final_df = melted_df.pivot_table(index=['Date', 'Symbol'], columns=['Type'], values='Value', aggfunc='first')

# Step 4: Flatten MultiIndex columns
final_df.columns = [col.strip() for col in final_df.columns.values]
final_df.reset_index(inplace=True)

# Step 5: Ensure desired columns are present
desired_columns = ['Date', 'Symbol', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
# Select only the columns present in the DataFrame to avoid KeyError
final_df = final_df[[col for col in desired_columns if col in final_df.columns]]

# Step 6: Convert 'Date' to datetime and sort
final_df['Date'] = pd.to_datetime(final_df['Date'])
final_df.sort_values(by='Date', inplace=True)

# Step 7: Reset index after sorting
final_df.reset_index(drop=True, inplace=True)

# Display the first few rows of the final DataFrame
print(final_df)

# Optionally save to CSV if needed
final_df.to_csv('final_stocks_data.csv', index=False)

                           Date Symbol                Open  \
0     2022-01-03 00:00:00+00:00   AAPL   177.8300018310547
1     2022-01-03 00:00:00+00:00    XOM    61.2400016784668
2     2022-01-03 00:00:00+00:00     VZ   52.06999969482422
3     2022-01-03 00:00:00+00:00      V  217.52000427246094
4     2022-01-03 00:00:00+00:00   TSLA   382.5833435058594
...                         ...    ...                 ...
15025 2023-12-29 00:00:00+00:00    ABT          110.400002
15026 2023-12-29 00:00:00+00:00   AAPL          193.899994
15027 2023-12-29 00:00:00+00:00     VZ           37.380001
15028 2023-12-29 00:00:00+00:00     KO           58.740002
15029 2023-12-29 00:00:00+00:00    XOM          100.370003

                     High                 Low               Close  \
0       182.8800048828125   177.7100067138672  182.00999450683594
1      63.599998474121094  61.209999084472656  63.540000915527344
2      52.560001373291016   51.97999954223633  52.439998626708984
3      222.05999755859375  217.00999450683594  221.42999267578125
4       400.3566589355469  378.67999267578125   399.9266662597656
...                   ...                 ...                 ...
15025          110.730003          109.830002              110.07
15026          194.399994          191.729996          192.529999
15027           37.759998               37.32           37.700001
15028               58.98           58.630001               58.93
15029          100.589996           99.620003           99.980003

                Adj Close       Volume
0       179.2736053466797  104487900.0
1      57.618003845214844   24282400.0
2      43.423004150390625   18240100.0
3      216.79356384277344    7694500.0
4       399.9266662597656  103931400.0
...                   ...          ...
15025          107.916397    3550200.0
15026          191.802185   42628800.0
15027           35.344772   16205200.0
15028           57.617237    9241600.0
15029           97.476494   17741400.0

[15030 rows x 8 columns]